Father of python - GUIDO VAN ROSSUM

### Where we can use Python?

1. Desktop Applications(calculator, Notepad etc)
2. Web applications(Youtube, Dropbox, google, Instagram etc)
3. scientific and Numaric Computing(Scipy, Numpy)
4. Dattabase Applications (Library Management Systems, Pharmaceutical)
5. Network Applications (Network Sniffer, Network Parameter extraction, Routing Algo's like OSPF)
6. Developing Games (Battlefield, Sims 4, PUBG)
7. Data Science (Pandas, Matplotlib, Seaborn, etc)
8. Machine Learning (scikit)
9. AI (AIMA - AI: A Modern Approach)
10.IOT (Raspberry pi, Phillips(works great with low level code in c++))

## Features of Python
1. Simple and easy to learn
2. Free and open source
3. General Purpose and high level programming language.
4. Platform independent
5. Case sensitive
6. Interpreted Language
7. Dynamically typed
8. Rich Library
9. We can write concise code using python

In [1]:
print("hello world")

hello world

In [2]:
a=10 , b=15
print(a+b)

SyntaxError: cannot assign to literal (3469860991.py, line 1)

In [75]:
a = 10, b = 20
print(a+b)

SyntaxError: cannot assign to literal (2266795981.py, line 1)

In [76]:
a=10
b=15
print(a+b)

25

In [77]:
a,b = 10,15
print(a+b)

25

### Variable
when you create a variable you keep some space in memory. these memory locations are then used to store values.

In [78]:
#define a variable name "a" and assign value 10 to it
a=5

In [79]:
# print the value of variable
a

5

To view some data on the output screen python also has print function. Using print function we can control the view on the output screen.

In [80]:
print(a)

5

### Variable Naming Rules
**Indetifiers :**
* Like Variables, we have to define functions, classes, etc in python. Nmaing them to differentiate one from another.
* All these names given to these entities are known as "Identifiers".
*** Rules to define Identifiers:***
1. Allowed characters  > Alphabets(a to z ,A to Z), Digits(0 to 9), an underscore (_).
    ex: myvariable, var_2, and print_this , etc
2. An Identifier cannot start with a digit
    i.e "1variable" is invalid, but "variable1" is valid
3. Can't use reserved words for identifiers
4. No length limt
5. Case Sensitive
*** Keywords : reserved words in python ***
>" keywords can't be used as identifiers."

In [81]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
36

In [82]:
# python is case sensitive so a and A are different
a = 10
A = 25
print(a,A)

10 25

In [83]:
# rules for define variable names
# allowed
a=5
_a=10
a1 = 15
print(a,_a,a1)

5 10 15

In [84]:
#not allowed
@a = 5
print(@a)

SyntaxError: invalid syntax (370318583.py, line 2)

In [85]:
1a = 15 # we cannot start variable name with number
print(1a)

SyntaxError: invalid syntax (936120624.py, line 1)

### Data Types:
    *classification or categorization of data items
* Although python is automatically identifys the data types i.e Dynamically typed programming, but it is important know about data types
* basic data types in python are:
    * Numaric - int, float, complex(Immutable)
    * Boolean - bool(True / False)
    * Strings - enclosed by either double or single quotes (Immutable)
    * List - (Mutable, mostly used to store homogenous data types)
    * Tuple - (Immutable, faster campared to List)
    * Set - (Unordered collection of items, remove duplicates, mutable)
    * Dictionary - (unordered collection of key-value pairs, mutable, keys are unique - values may not be unique)

#### Numaric data types

In [86]:
a=10
b=5.0
c=5+0j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [87]:
f = 1.2E34

#f = 1.23e34 and f = 1.23e+34 are equivalent

print(f)

print(type(f))

1.2e+34
<class 'float'>

In [88]:
c= 5+4j
print(c)
print(c+5)

(5+4j)
(10+4j)

In [89]:
print(type(c))
print(isinstance(c, complex))
print(c.real)
print(c.imag)

<class 'complex'>
True
5.0
4.0

In [90]:
a = True
print(type(a))

<class 'bool'>

### List

In [94]:
#creating list:
my_list=[1,2,3,4,5,6,7,8,9]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
#accessing elements in list
# positive index
my_list[1]

2

In [97]:
# negative index
my_list[-2]

8

In [99]:
# list slicing
# all elements in list using single column
my_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
# all elements in list using double column
my_list[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
# after second column we define the step
my_list[::3]

[1, 4, 7]

In [102]:
# list from index 2 upto 8 with step 2
my_list[2:8:2]

[3, 5, 7]

In [103]:
# list from index 3 to second last index
my_list[2:-2]

[3, 4, 5, 6, 7]

In [104]:
# reverse the list
my_list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [106]:
#append an element in list
my_list.append(10)

In [108]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [109]:
# for append the multiple elements i. [1,2]
my_list.append([1,2])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2]]

above list is an nested list but to append only elements without nested then use extend function.

In [110]:
# extend
my_list.extend([2,4,5,6,8,10])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [1, 2], 2, 4, 5, 6, 8, 10]

search for an element in list

In [114]:
# index of an element in the list if present
my_list.index(5)

4

In [115]:
# index for nested objects
my_list.index([1,2])

10

insert an element in the list

In [116]:
my_list.insert(4,"s") # at index 4 position we are inserting a string "s"
my_list

[1, 2, 3, 4, 's', 5, 6, 7, 8, 9, 10, [1, 2], 2, 4, 5, 6, 8, 10]

checking if an element present in the list or not
- "in" or "not in" used for this and they called as membership operators

In [117]:
7 in my_list

True

In [118]:
70 in my_list

False

In [119]:
70 not in my_list

True

In [120]:
[1,2] not in my_list

False

remove an element from list

In [121]:
my_list

[1, 2, 3, 4, 's', 5, 6, 7, 8, 9, 10, [1, 2], 2, 4, 5, 6, 8, 10]

In [122]:
my_list.remove(2) # removes 2 value i. first occurence value
my_list

[1, 3, 4, 's', 5, 6, 7, 8, 9, 10, [1, 2], 2, 4, 5, 6, 8, 10]

In [125]:
# delete an element using "del" keyword by index position
del my_list[4]
my_list

[1, 3, 4, 's', 6, 7, 8, 9, 10, [1, 2], 2, 4, 5, 6, 8, 10]

iterate a list

In [126]:
for element in my_list:
    print(element)

1
3
4
s
6
7
8
9
10
[1, 2]
2
4
5
6
8
10

In [127]:
#pre defined method
my_list_1 = [1,55,47,698,5647,1,25]

In [128]:
len(my_list_1)

7

In [130]:
#sorting
my_list_1.sort()
my_list_1

[1, 1, 25, 47, 55, 698, 5647]

In [131]:
#reverse
my_list_1.reverse()

In [132]:
my_list_1

[5647, 698, 55, 47, 25, 1, 1]

In [133]:
#another way
list1 = [1,4,85,75,45,105]
sorted(list1)

[1, 4, 45, 75, 85, 105]

#### nested list:
some are all elemnets in the list are also a type of list.

In [1]:
# sample nested list
my_list_3=[1,2,[3,4,5],['a','b','c'],'w']

In [2]:
len(my_list_3)

5

In [3]:
my_list_3[3]

['a', 'b', 'c']

In [4]:
my_list_3[3][2]

'c'

#### Problem Statement: 

* ***🎓🎓 Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. 🎓🎓 The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***


   * 🙇 Who scored the highest marks in the subject B?

In [5]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [14]:
# assign 
student_marks[1][1][1]

34

In [16]:
for student in student_marks[1:]:
    name = student[0]
    marks = student[1][1]
    print(name, marks)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

In [19]:
# lets store the student marks of sub B in another list
stu_marks_B = []
for student in student_marks[1:]:
    name = student[0]
    marks = student[1][1]
    stu_marks_B.append([marks,name])

In [28]:
stu_marks_B.sort()

In [29]:
stu_marks_B

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

In [31]:
stu_marks_B[-1][-1]

'Gyan'

### strings

In [92]:
c="sri"
print(type(c))
print(len(c)) # len = no of total characters and gaps present if any

<class 'str'>
3

In [93]:
a = "sri_kanth"
print(type(a))
print(len(a))

<class 'str'>
9

### input & output

In [3]:
a = int(input())# giving an integer value for variable "a"

10

In [4]:
a = int(input("enter a value: "))

enter a value: 10

In [5]:
# output in different ways
a = 5
b = "s"
print(a,b)
print('%d %s' %(a,b)) # d-digit, s-string
print('{0} {1} '.format(a,b))

5 s
5 s
5 s

In [6]:
print("4"*8)

44444444

In [7]:
print(5,9,3,sep=',') # sep=  > used to seperate the values by using any symbol
print(5,9,3, sep="#")

5,9,3
5#9#3

In [8]:
print(5,6,7,sep=",", end='!$')# end= > used to end the output value with any symbol

5,6,7!$

In [9]:
# for multi line output
print('this is \n srikanth \n python progarmmer')

this is
 srikanth
 python progarmmer

In [10]:
print('''python 'this is
progarmming 
class' ''')

python 'this is
progarmming
class'

### Theory of operators:
    *operators are special symbols in Python that carry out arithmetic or logical computation.
    *the value that the operator operates on is called the "operand"
*Operators avialable are:
    1. Arthematic(+,-,*,/,%,**(exponential), //(floor division))
        (`//` gives the quotient and `%` gives the reminder of a              division)
    2. relational(>,>=,<,<=)
    3. Equality(==,!=)
    4. Logical(and,or,not)
    5. Bitwise(&,|,~,<<,>>)
        AND(&) - Returns 1 if both the bits are 1 else 0
        OR(|) -  Returns 1 if either of the bit is 1 else 0
        NOT(~) - Returns one’s complement of the number
        XOR(^) - Returns 1 if one of the bits is 1 and the other is                  0 else returns false
        Right shift(>>)
        left shift(<<)
    6. Assignment(=,+=,-=,*=,/=, etc)
    7. Identity --> is, is not (used for address comparision)
    8. Membership --> in, not in

In [11]:
# arthi=ematic operator
a=5
b=3
print("a+b",a+b)
print("a-b",a-b)
print("a*b",a*b)
print("a/b",a/b)
print("a%b",a%b)
print("a**b",a**b)
print("a//b",a//b)

a+b 8
a-b 2
a*b 15
a/b 1.6666666666666667
a%b 2
a**b 125
a//b 1

In [12]:
#  relational operator
a =5
b =3
print("a<b", a<b)
print("a<=b", a<=b)
print("a>b", a>b)
print("a>=b", a>=b)

a<b False
a<=b False
a>b True
a>=b True

In [13]:
# Equality Opereator
a=5
b=3
print("a==b", a==b)
print("a!=b", a!=b)

a==b False
a!=b True

In [14]:
#logical Operator
print((1==1) and(2==2))
print((1==1 and 3==4))
print(1==2 and 3==4)

True
False
False

In [15]:
# or
print(1==1 or 2==2)
print((1==1 or 3==4))
print(1==2 or 3==4)

True
True
False

In [16]:
# not
print(2!=3)
print(4!=4)

True
False

### Intendation and comments in python:

Indentation:
    indentation means (sapces and tabs) that are used at the begining of any statement. The statement with the same indentation belong to the same group also called as suite.

In [17]:
if (4==4):
print("true statement")

IndentationError: expected an indented block (4202960932.py, line 2)

The above code snippet contains the `if` statement which expects to perform some lines of code if the condition is true. So, all of that code should belong to a group which python finds out by `indented` block of code.

In [18]:
if (4==4):
    print("true statement")

true statement

### comments
to write a comment in python, simply put # before your desired comment

In [19]:
print(2==2)
#print(2==2) this line do nothing

True

### Conditional Statements
conditional operartors
* ***Double Equals:*** a==b

* ***Double Equals:*** a == b
* ***Not Equals:*** a != b
* ***Less than:*** a < b
* ***Less than or equal to:*** a <= b
* ***Greater than:*** a > b
* ***Greater than or equal to:*** a >= b

In [20]:
# if statement
a=1
if a==1:
    print("the condition in the if statement is true")

the condition in the if statement is true

In [21]:
# but , the if condition ids false then
if (a == 3):
    print(("the condition in the if statement is true")

SyntaxError: unexpected EOF while parsing (782203147.py, line 3)

In [22]:
# if statement with one condition 
a=3
b=4
if(a>b):
    print(" a is greater than b")
else:
    print("a is smaller than b")

a is smaller than b

In [23]:
# if statement with multiple condition:
a=3
b=4
if ((a<4) and (b<4)):
    print("both # are less than 4")
elif ((a<5) and (b<5)):
    print("both # are less than 5")
else:
    print("conditions are not satisfied")

both # are less than 5

Problem 1: even numbers

In [30]:
# input

# by default the type is string , so we need to convert the type first
x = int(input())

if x%2 == 0:
    print("even")
else:
    print("odd")

15
odd

problem 2: grade i.e >90 - grade A, <90 and >60 - Grade B . otherwise "Grade F"

In [31]:
# input and convert into integer
x = int(input(" enter marks : "))
if(x>90):
    print("Grade A")
elif(x<90 and x>60):
    print(" Grade B")
else:
    print("Grade F")

 enter marks : 65
 Grade B

## Looping Constructs

FOR LOOP AND RANGE FUNCTIONS:
    we use for loop when we want to run a block of code certain number of times.

### passing one argumet:
when we pass only one argument( considered as "end_point") in the range function. i.e loop start with 0 and runs till "end_point-1" .

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

### passing TWO arguments
    when we pass TWO arguments (first one considered as "START_POINT" and second one as "END_POINT"). The loop start with "START_POINT" and runs untill "END_POINT-1"

In [33]:
for i in range(2,6):
    print(i)

2
3
4
5

### passing three arguments:
    when we pass three arguments (!st - START_POINT, 2nd - "END_POINT", and last one is "STEP")

In [34]:
for i in range(2,12,2):
        print(i, end=" ")

2 4 6 8 10

#### Iteration:
Iterate a string using FOR loop

In [35]:
for character in ("solanki"):
    print(character)

s
o
l
a
n
k
i

#### NESTED FOR loop:
    NESTED FOR loop is a loop within a loop. i.e for each step  in outer loop, the inner loop excutes completely.

In [36]:
# define the range of outer loop
for outer_loop_number in range(1, 3):
    
    # define the inner loop
    for inner_loop_character in "ABC":
        
        print(outer_loop_number, inner_loop_character)

1 A
1 B
1 C
2 A
2 B
2 C

##### WHILE LOOP
        the code in a WHILE cluase will be excuted as long as the while statement's condition is TRUE.

In [37]:
#incrementataion of a number using while loop upto the given conditin(i.e number)

num= 0
while(num<8):
    print(num, end="\n")
    num +=1  # we can write as number = number+1

0
1
2
3
4
5
6
7

In [59]:
num= 0
while(num<8):
    print(num, end="\n")
    num = num + 2

0
2
4
6

### Jump Statements in python(break, continue, and pass):
- Using for loops and while loops in Python allow you to automate and repeat tasks in an efficient manner.

- But sometimes, an external factor may influence the way your program runs. When this occurs, you may want your program to exit a loop completely, skip part of a loop before continuing, or ignore that external factor. 
- You can do these actions with break and continue statements.
#### 1. Break Statement
- In Python, the break statement provides you with the opportunity to exit out of a loop when an external condition is triggered. 

- You’ll put the break statement within the block of code under your loop statement, usually after a conditional if statement.

- The break statement causes a program to break out of a loop.

In [50]:
num = 0
for num in range(1,10):
    if num ==5:
        break
    print("number is " +str(num))
print("out of loop")

number is 1
number is 2
number is 3
number is 4
out of loop

#### problem: user wii enter pasword : data.
     if password matches, it will print Welcome to the print " welcome to the pyr=thon course" else print "wrong password" and user will re-enter.
    in the fourth trail, it will print "one trail left!!!"

In [58]:
password = "data"
for trail in range(1,5):
    if trail == 4:
        print("one more trail is left")
    pass_word = input(" enter password:")
    
    if pass_word ==password:
        print("welcome to the python course")
        break
    else:
        print("wrong password")

 enter password:ss
wrong password
 enter password:ss
wrong password
 enter password:df
wrong password
one more trail is left
 enter password:data
welcome to the python course

#### 2. Continue Statement:
    - the continue statement gives an option to skip over the part of loop where external condition is triggered, but to go on to complete the rest of the loop.
    That is, the current iteration of the loop will be disrupted, but the program will return to the top of the loop.

    - The continue statement will be within the block of code under the loop statement, usually after a conditional if statement.

    - The continue statement causes a program to skip certain factors that come up within a loop, but then continue through the rest of the loop.

In [60]:
# above same problem using continue statement:
num = 0
for num in range(1,10):
    if num ==5:
        continue
    print("number is " +str(num))
print("out of loop")

number is 1
number is 2
number is 3
number is 4
number is 6
number is 7
number is 8
number is 9
out of loop

Problem Statement:

- In the following example, user will enter the password which is OTP which is set to be `1232`.
- If the OTP matches, It will ask user to provide details like ***`Enter Your Name: `*** and ***`Enter Your City": ` *** and user will re-enter the OTP.
- In the fourth trial, it will print ***`One Trial left!!!`***.

In [71]:
otp = "1232"
for trail in range(1,5):
    if trail == 4:
        print("one trail left")
    enter_otp = input("enter otp : ")
    if enter_otp != otp:
        print("try again")
        continue;
    else:
        name =input("enter your name: ")
        city =input("enter your city: ")
        break;

enter otp : 1252
try again
enter otp :
try again
enter otp : 1232
enter your name: sri
enter your city: hyd

3. Pass Statement:
pass is null operation - when it is executed, nothing happens.
it is place holder when a statement is required syntactically, but no code need to be executed.
the pass statement tells the program to disregard that condition and continue to run the program as usual.

In [74]:
num=0
for num in range(1,10):
    if num==5:
        pass
    print("number " +str(num))
print("out of loop")

number 1
number 2
number 3
number 4
number 5
number 6
number 7
number 8
number 9
out of loop

#### Data structures - Tuple 
* tuple - heterogenous(different) and list - homogenous(similar) datatypes
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

In [7]:
# defining the tuple in python
my_tuple = ("a",'b','c','d','e','f',1,"f")

In [8]:
#Access any element
my_tuple[5]

'f'

In [9]:
# accessing by using index
my_tuple.index('b')

1

In [10]:
#count of elements in tuple
my_tuple.count("f")

2

In [11]:
# iteration through elements
for elements in my_tuple:
    print(elements)

a
b
c
d
e
f
1
f

In [12]:
#slicing tuple
my_tuple[1:3]

('b', 'c')

In [13]:
## first 5 elements
my_tuple[:3]

('a', 'b', 'c')

In [14]:
#define start and end point to slice
my_tuple[3:5]

('d', 'e')

In [16]:
# count method on slice
my_tuple[3:5].count("d")

1

In [17]:
#index method on slice
my_tuple[3:6].index('e')

1

Tuple are immutable :
-we cannot edit/update or delete elements from the tuple.

In [20]:
my_tuple

('a', 'b', 'c', 'd', 'e', 'f', 1, 'f')

In [21]:
my_tuple[2]="d"

TypeError: 'tuple' object does not support item assignment

In [22]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

### data structures - Tuple

In [23]:
# defining set in pytho
my_set = {'a','b','c','d',1,2,4,5}

In [24]:
# its automatiacally reorder the given myset
my_set

{1, 2, 4, 5, 'a', 'b', 'c', 'd'}

In [26]:
# defining a set from a lidt and tuple:
my_list=['a','b','c',1,8,4,5]

In [27]:
my_set_from_my_list = set(my_list)
my_set_from_my_list

{1, 4, 5, 8, 'a', 'b', 'c'}

In [28]:
my_tuple

('a', 'b', 'c', 'd', 'e', 'f', 1, 'f')

In [29]:
my_set_from_my_tuple = set(my_tuple)
my_set_from_my_tuple

{1, 'a', 'b', 'c', 'd', 'e', 'f'}

In [30]:
#adding an element
my_set.add(8)

In [31]:
my_set

{1, 2, 4, 5, 8, 'a', 'b', 'c', 'd'}

#### delete an element from the list
*Discord - it will not throw an error , if the element you want to remove is not present in the set.                           
*remove -  it will throw an error , if the element you want to remove is not present in the set.

In [32]:
my_set

{1, 2, 4, 5, 8, 'a', 'b', 'c', 'd'}

In [33]:
my_set.discard("a")

In [34]:
my_set

{1, 2, 4, 5, 8, 'b', 'c', 'd'}

In [35]:
my_set.discard("e") # e is not present in the set

In [36]:
my_set.remove("e")

KeyError: 'e'

In [37]:
# difference between two sets
# A-B
my_set

{1, 2, 4, 5, 8, 'b', 'c', 'd'}

In [39]:
my_set_2 = {1,2,'c'}

In [40]:
# difference
my_set.difference(my_set_2)

{4, 5, 8, 'b', 'd'}

In [41]:
my_set # it wii not update the my set after

{1, 2, 4, 5, 8, 'b', 'c', 'd'}

In [42]:
# to update my set 
my_set.difference_update(my_set_2)

In [43]:
my_set

{4, 5, 8, 'b', 'd'}

### Intersection of two sets

In [45]:
# Set 1
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}
# Set 2 
my_set_from_list = {1,2,'A','B'}

In [46]:
my_set.intersection(my_set_from_list)

{1, 2, 'A', 'B'}

In [47]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [48]:
# to update directly, use intersection update
my_set.intersection_update(my_set_from_list)
my_set

{1, 2, 'A', 'B'}

#### Other operations on set

* is_disjoint
* is_subset
* is_superset
* union

---

In [51]:
 #define 3 random sets
sample_set_1 = {'A', 'B', 'C', 'D', 'E', 'F'}
sample_set_2 = {'A', 'D', 'E'}
sample_set_3 = {'S', 'T', 'U'}

In [52]:
# check if 2 sets are disjoint sets
sample_set_1.isdisjoint(sample_set_2)

False

In [53]:
sample_set_1.isdisjoint(sample_set_3)

True

In [54]:
# check if one set is subset of another set
sample_set_2.issubset(sample_set_1)

True

In [55]:
# check if one set is superset of another
sample_set_1.issuperset(sample_set_2)

True

In [56]:
# union of 2 sets
sample_set_1.union(sample_set_3)

{'A', 'B', 'C', 'D', 'E', 'F', 'S', 'T', 'U'}

In [57]:
# update a set with new values, it will add the values which are not present in the original set.
sample_set_1.update({'C', 'D', 'E', 'R', 'Z'})

In [58]:
sample_set_1

{'A', 'B', 'C', 'D', 'E', 'F', 'R', 'Z'}

In [61]:
# Iterate the set
for element in sample_set_1:
    print(element)

B
C
F
R
Z
D
A
E